/*styling for elemnt id*/
#header{
    color: antiquewhite;
     background-color: rgb(61, 44, 44);
     font: size 40px;
}
/*styling for element with class*/
.body{
    color: rgb(23, 24, 26);
    font-size: 22px;
}
/*styling the whole body*/
body{
background-color: rgb(151, 201, 201);
}
/*styling the submit button*/
#button{
    font-size: 20px;
    background-color: beige;
    align-items:center;
}